.missions-table {
  border-collapse: collapse;
  text-align: left;

  td,
  th {
    border: 2px solid #dfdfdf;
    padding: 10px;
  }

  .status-col,
  .join-col {
    min-width: 10vw;
  }

  .mission-title {
    vertical-align: text-top;
  }

  .mission-status,
  .mission-join {
    text-align: center;
  }

  .grey-bg {
    background-color: #f3f3f3;
  }
}